.portCardCl {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.portBodyCl {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

.portButCl {
    display: flex;
    justify-content: flex-start;
}
