.container {
    padding: 20px;



}

.containerCodeBox {
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;

  }

.catalogToggle {
    display: flex;
    justify-content: center;
    align-items: center;

}


.convertButton {

    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-left: 2rem;
    margin-right: 2rem;
    
}

.codeBox {
    padding-top: 20px;
    height: 100%;
    width: 100%;

}