.container {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.disabled {
    opacity: 0.4;
}

.text {
    text-align: left;
    font-weight: 600;
    font-size: 13px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0px;
    color: #1f5b8b;
    opacity: 1;
}
